* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 40px;
}

.icon {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 100%;
    max-width: 50%;
    height: 310px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

input {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

button {
    display: block;
    margin: 25px auto 0;
    padding: 10px;
    width: 80%;
    height: 40px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    font-size: 18px;
}

.error {
    color: red;
    margin-top: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: transparent;
}